.project {
  background-size: cover !important;
  background: #e1e1e1;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#ihtfp {
  background: url("../assets/projects/ihtfp.png") no-repeat center;
}

#hackmit {
  background: url("../assets/projects/hackmit.png") no-repeat center;
}

#kobal {
  background: url("../assets/projects/kobal.png") no-repeat center;
}

#lexo {
  background: url("../assets/projects/lexo.png") no-repeat center;
}

#q005 {
  background: url("../assets/projects/005q.png") no-repeat center;
}

#gavel {
  background: url("../assets/projects/gavel.png") no-repeat center;
}

#tempest {
  background: url("../assets/projects/tempest.png") no-repeat center;
}

#robot6270 {
  background: url("../assets/projects/6270.jpg") no-repeat center;
}

